appsettings.Development.json
appsettings.json
appsettings.Production.json
/bin
./bin
/obj
.obj
*.mp3
*.webm
Uploads/
./Uploads
*.wav
*.bin
appsettings.*
.env
backend.env.dev
backend.env.production
*.mp4
*.pdf